:root {
  --header-color: #d4d9d9;
  --font-family: "Poppins", sans-serif;
  --heading-color: #222222;
  --title-color: #999;
  --color-red: red;
  --button-blue: #0d6efd;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  line-height: 1;
  font-size: 400;
}
